# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtualenvs
drone/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
.pytest_cache/

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS artifacts
.DS_Store
Thumbs.db
